- title t('hello')

%p
  &nbsp;

%p.lead.muted
  %i.icon-tags
  Rewards and Gift cards

%hr
%footer
  %p
    = link_to 'https://github.com/cxz/loyalty' do
      %i.icon-github
      Source Code: cxz/loyalty
  %p
    = link_to rails_admin_path do
      %i.icon-admin
      Admin (user: admin, password: admin123)
